@using System.Web.Mvc.Html
@model ProyectoBitacorasCientificas.ViewModels.RolLabForm
@{
    ViewBag.Title = "RolesLaboratorioAsignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RolesLaboratorioAsignar</h2>

@using (Html.BeginForm("RolesLaboratorioAsignar", "Seguridad"))
{
    <form class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.RolesLaboratorio.LaboratorioId)
            @Html.DropDownListFor(m => m.RolesLaboratorio.LaboratorioId,
                new SelectList(
                    Model.Laboratorios,
                    "id",
                    "nombre"),
                "Seleccione el laboratorio",
                new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.RolesLaboratorio.ApplicationUserId)
            @Html.DropDownListFor(m => m.RolesLaboratorio.ApplicationUserId,
                new SelectList(
                    Model.Users,
                    "id",
                    "Email"),
                "Seleccione el usuario",
                new {@class = "form-control"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.RolesLaboratorio.TipoRolLaboratorioId)
            @Html.DropDownListFor(m => m.RolesLaboratorio.TipoRolLaboratorioId,
                new SelectList(
                    Model.TipoRolLaboratorios,
                    "id",
                    "nombre"),
                "Seleccione el tipo rol",
                new {@class = "form-control"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.RolesLaboratorio.Puesto)
            @Html.DropDownListFor(m => m.RolesLaboratorio.Puesto,
                new SelectList(
                    Model.Puestos,
                    "id",
                    "nombre"),
                "Seleccione el puesto",
                new {@class = "form-control"})
        </div>

        @Html.HiddenFor(m => m.RolesLaboratorio.id)
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}

    @*<form class="form-horizontal">
            <div class="form-group">
                <label for="rol_laboratorio" class="control-label col-xs-4">Laboratorios</label>
                <div class="col-xs-8">
                    <select id="laboratorio" name="laboratorio" class="select form-control">
                        <option value="heredia">Heredia</option>
                        <option value="cartago">Cartago</option>
                        <option value="sanjose">San Jose</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="rol_laboratorio" class="control-label col-xs-4">Usuarios</label>
                <div class="col-xs-8">
                    <select id="usuarios" name="usuarios" class="select form-control">
                        <option value="cientifico">Josue</option>
                        <option value="arquitecto">Steven</option>
                        <option value="arquitecto">Daniela</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="rol_laboratorio" class="control-label col-xs-4">Rol Laboratorio</label>
                <div class="col-xs-8">
                    <select id="rol_laboratorio" name="rol_laboratorio" class="select form-control">
                        <option value="cientifico">Cientifico</option>
                        <option value="arquitecto">Arquitecto</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="puesto" class="control-label col-xs-4">Puesto</label>
                <div class="col-xs-8">
                    <select id="puesto" name="puesto" class="select form-control">
                        <option value="ingeniero">Ingeniero</option>
                        <option value="profesor">Profesor</option>
                        <option value="asistente">Asistente</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-offset-4 col-xs-8">
                    <button name="submit" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>*@
