
@using System.Web.Mvc.Html
@model ProyectoBitacorasCientificas.ViewModels.BitacorasForm
@{
    ViewBag.Title = "BitacorasCientificasCrear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bitacoras Cientificas Crear/Editar</h2>

@using (Html.BeginForm("BitacorasCrearEditar", "Administracion"))
{
<form class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Bitacora.nombreExperimento)
        @Html.TextBoxFor(m => m.Bitacora.nombreExperimento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bitacora.Fecha)
        @Html.TextBoxFor(m => m.Bitacora.Fecha, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bitacora.ProyectosId)
        @Html.DropDownListFor(m => m.Bitacora.ProyectosId,
            new SelectList(
                Model.Proyectos,
                "id",
                "nombre"),
            "Seleccione el proyecto",
            new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Bitacora.ApplicationUserId)
        @Html.DropDownListFor(m => m.Bitacora.ApplicationUserId,
            new SelectList(
                Model.Users,
                "Id",
                "Email"),
            "Seleccione el usuario",
            new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Bitacora.id)
    <button type="submit" class="btn btn-primary">Save</button>
</form>
}

@*<form class="form-horizontal">
        <div class="form-group">
            <label for="nombre" class="control-label col-xs-4">Nombre</label>
            <div class="col-xs-8">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input id="nombre" name="nombre" placeholder="Nombre" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="fecha" class="control-label col-xs-4">Fecha</label>
            <div class="col-xs-8">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input id="fecha" name="fecha" placeholder="Fecha" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="rol" class="control-label col-xs-4">Proyecto</label>
            <div class="col-xs-8">
                <select id="rol" name="rol" class="select form-control">
                    <option value="a">A</option>
                    <option value="b">No B</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-4 col-xs-8">
                <button name="cambiar_password" class="btn btn-success">Crear</button>
                <button name="cancelar" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </form>*@