@using System.Web.UI.WebControls
@model IEnumerable<ProyectoBitacorasCientificas.Models.Bitacora>

@{
    ViewBag.Title = "BitacorasCientificas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BitacoraCientificas</h2>
<form class="form-horizontal">
    <div class="form-group">
    <div class="col-xs-8">

@if (Model != null)
{
    if (!Model.Any())
    {
        <p>No tenemos Bitacoras</p>
    }
    else
    {
        
            <!--Table-->
            <table id="tablePreview" class="table">
                <!--Table head-->
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Precio</th>
                        <th>Proyecto</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bitacoras in Model)
                    {
                        <tr>
                            <td>@bitacoras.id</td>
                            <td>@bitacoras.nombreExperimento</td>
                            <td>@bitacoras.Fecha</td>
                            <td>@bitacoras.precio</td>
                            <td>@bitacoras.Proyectos.nombre</td>
                            @*<td>@bitacoras.ApplicationUser.Email</td>*@
                            <td>@Html.ActionLink("Editar", "BitacorasCientificasEditar", "Administracion", new {id = bitacoras.id}, null)</td>
                            <td>@Html.ActionLink("Eliminar", "BitacorasEliminar", "Administracion", new {id = bitacoras.id}, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
    }

}
    @Html.ActionLink("Crear", "BitacorasCientificasCrear", "Administracion")
<br/>
    @Html.ActionLink("Ver Objetivos", "Objetivos", "Administracion")
    @Html.ActionLink("Relacionar Objetivos", "ObjetivosCrear", "Administracion")

        </div>
    </div>
</form>
  