
@using System.Web.Mvc.Html
@model ProyectoBitacorasCientificas.ViewModels.ObjetivosForm
@{
    ViewBag.Title = "ObjetivosForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Objetivos Crear/Editar</h2>

@using (Html.BeginForm("ObjetivosCrearEditar", "Administracion"))
{
<form class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Objetivos.objetivoGeneral)
        @Html.TextBoxFor(m => m.Objetivos.objetivoGeneral, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Objetivos.objetivosEspecificos)
        @Html.TextBoxFor(m => m.Objetivos.objetivosEspecificos, new { @class = "form-control", @placeholder = "Separados por coma" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Objetivos.descripcion)
        @Html.TextBoxFor(m => m.Objetivos.descripcion, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Objetivos.procedimientoExperimiento)
        @Html.TextBoxFor(m => m.Objetivos.procedimientoExperimiento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Objetivos.BitacoraId)
        @Html.DropDownListFor(m => m.Objetivos.BitacoraId,
            new SelectList(
                Model.Bitacoras,
                "id",
                "nombreExperimento"),
            "Seleccione la bitacora",
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Objetivos.EquipoId)
        @Html.DropDownListFor(m => m.Objetivos.EquipoId,
            new SelectList(
                Model.Equipos,
                "id",
                "modelo"),
            "Seleccione el equipo",
            new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Objetivos.id)
    <button type="submit" class="btn btn-primary">Save</button>
</form>
}

@*<form class="form-horizontal">
        <div class="form-group">
            <label for="nombre" class="control-label col-xs-4">Nombre</label>
            <div class="col-xs-8">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input id="nombre" name="nombre" placeholder="Nombre" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="fecha" class="control-label col-xs-4">Fecha</label>
            <div class="col-xs-8">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input id="fecha" name="fecha" placeholder="Fecha" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="rol" class="control-label col-xs-4">Proyecto</label>
            <div class="col-xs-8">
                <select id="rol" name="rol" class="select form-control">
                    <option value="a">A</option>
                    <option value="b">No B</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-offset-4 col-xs-8">
                <button name="cambiar_password" class="btn btn-success">Crear</button>
                <button name="cancelar" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </form>*@