
@model IEnumerable<ProyectoBitacorasCientificas.Models.RamaCientifica>
@{
    ViewBag.Title = "RamasCientificas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RamasCientificas</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="rol_laboratorio" class="control-label col-xs-4">Ramas cientificas</label>
        <div class="col-xs-8">
            
                @if (Model != null)
                {
                    if (!Model.Any())
                    {
                        <p>No tenemos Ramas Cientificas</p>
                    }
                    else
                    {
                        <!--Table-->
                        <table id="tablePreview" class="table">
                            <!--Table head-->
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Tipo Rama Cientifica</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>
                            @foreach (var ramasList in Model)
                            {
                                <tr>
                                    <td>@ramasList.id</td>
                                    <td>@ramasList.nombre</td>
                                    <td>@ramasList.TipoRamaCientifica.nombre</td>
                                    <td>@Html.ActionLink("Editar","RamasCientificasEditar", "Administracion", new {id = ramasList.id},null)</td>
                                    <td>@Html.ActionLink("Eliminar", "RamasCientificasEliminar", "Administracion", new {id = ramasList.id},null)</td>
                                </tr>

                            }
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    }
                }
                @Html.ActionLink("Crear", "RamasCientificasCrear", "Administracion")
        </div>
    </div>
</form>