
@using System.Web.Mvc.Html
@model ProyectoBitacorasCientificas.ViewModels.RamaCientificaForm
@{
    ViewBag.Title = "RamasCientificasCrear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RamasCientificasCrear</h2>

@using (Html.BeginForm("CrearEditar", "Administracion"))
{
<form class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.RamaCientifica.nombre)
        @Html.TextBoxFor(m => m.RamaCientifica.nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RamaCientifica.TipoRamaCientificaId)
        @Html.DropDownListFor(m => m.RamaCientifica.TipoRamaCientificaId, new SelectList(Model.TipoRamaCientificas, "id", "nombre"), "Seleccion la rama cientifica", new { @class = "form-control" })
    </div>



    @Html.HiddenFor(m => m.RamaCientifica.id)
    <button type="submit" class="btn btn-primary">Save</button>
</form>
}


@*<form class="form-horizontal">
                <div class="form-group">
                    <label for="nombre" class="control-label col-xs-4">Nombre</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            <input id="nombre" name="nombre" placeholder="Nombre" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rol" class="control-label col-xs-4">Tipo Rama Cientifica</label>
                    <div class="col-xs-8">
                        <select id="rol" name="rol" class="select form-control">
                            <option value="natural">Natural</option>
                            <option value="no_natural">No Natural</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-offset-4 col-xs-8">
                        <button name="cambiar_password" class="btn btn-success">Crear</button>
                        <button name="cancelar" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>*@
